configuration{
    modes: "run";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: true;
    hide-scrollbar: true;
    sidebar-mode: true;
    kb-row-up: "Control+k";
    kb-row-down: "Control+j";
    kb-accept-entry: "Return";
    kb-remove-to-eol: "";
}

@theme "spotlight-dark"
